.body {
  padding-top: 70px;
}

.body--pc .menu__item:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  pointer-events: all;
}

.body--touch .menu__arrow {
  margin-left: 5px;
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

@media (max-width: 768px) {
  .body--touch .menu__arrow {
    border-top: 14px solid blueviolet;
    border-left-width: 7px;
    border-right-width: 7px;
  }
}

.body--touch .menu__link {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.body--touch .menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.body--lock {
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 25px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red;
  z-index: 2000;
}

.header__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
  width: 100%;
  max-width: 1200px;
  padding: 0 25px;
}

.header__logo {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: white;
  z-index: 3000;
}

.menu__icon {
  display: none;
  background-color: transparent;
  border: 0;
}

@media (max-width: 768px) {
  .menu__icon {
    position: relative;
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 2500;
  }
  .menu__icon .menu__icon-span, .menu__icon::before, .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #fff;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon .menu__icon-span {
    top: 50%;
    -webkit-transform: scale(1) translateY(-50%);
        -ms-transform: scale(1) translateY(-50%);
            transform: scale(1) translateY(-50%);
  }
}

@media (max-width: 768px) {
  .menu__icon--active .menu__icon-span {
    -webkit-transform: scale(0) translate(0, -50%);
        -ms-transform: scale(0) translate(0, -50%);
            transform: scale(0) translate(0, -50%);
  }
  .menu__icon--active::before {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }
  .menu__icon--active::after {
    bottom: 50%;
    -webkit-transform: translateY(50%) rotate(45deg);
        -ms-transform: translateY(50%) rotate(45deg);
            transform: translateY(50%) rotate(45deg);
  }
}

@media (max-width: 768px) {
  .menu__body {
    padding: 100px 30px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    overflow: auto;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: blueviolet;
    z-index: 2200;
  }
}

.menu__body--active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

@media (min-width: 769px) {
  .menu__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu__list a:hover {
  text-decoration: underline;
}

.menu__item {
  position: relative;
  margin-right: 20px;
  font-size: 18px;
  color: white;
}

@media (max-width: 768px) {
  .menu__item {
    margin-bottom: 30px;
    margin-right: 0;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 769px) {
  .menu__item {
    padding: 10px 0;
  }
}

@media (max-width: 768px) {
  .menu__item--opened .menu__sub-list {
    display: block;
  }
}

@media (max-width: 768px) {
  .menu__link {
    font-size: 24px;
  }
}

.menu__arrow {
  display: none;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.menu__sub-list {
  padding: 15px;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  min-width: 200px;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

@media (max-width: 768px) {
  .menu__sub-list {
    margin-top: 20px;
    display: none;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (min-width: 769px) {
  .menu__sub-list {
    -webkit-transform: translateY(10%);
        -ms-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.menu__sub-item {
  margin-bottom: 10px;
}

.menu__sub-item:last-child {
  margin-bottom: 0;
}

.menu__sub-link {
  color: black;
}

@media (max-width: 768px) {
  .menu__sub-link {
    font-size: 20px;
  }
}

.body--touch .menu__item--opened .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  pointer-events: all;
}

.body--touch .menu__item--opened .menu__arrow {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.page__section {
  padding: 25px 0;
}

.page__section--one {
  background-color: aqua;
}

.page__title {
  margin-bottom: 25px;
  text-align: center;
}

.page__section--two {
  background-color: #2eed8d;
}

.page__section--three {
  background-color: #985fee;
}

.page__sub-title {
  margin-bottom: 18px;
  text-align: center;
}

.page p {
  margin-bottom: 15px;
}
